<h1>{{ title }}</h1>
<div>
  Codigo: <input disabled="{{disCod}}" type="number" [(ngModel)]="articulo.codigo"><br><br>
  Descripción: <input type="text" [(ngModel)]="articulo.descrip"><br><br>
  Precio: <input type="number" [(ngModel)]="articulo.precio"><br><br>
  <button (click)="agregar()">Agregar</button>
  <button (click)="modificar()">Modificar</button><br><br>
</div>
<div>
  <table border="2" *ngIf="articulos.length > 0 else noArt">
    <thead>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Borrar</th>
      <th>Modificar</th>
    </thead>
    <tr *ngFor="let art of articulos; index as i">
      <td>{{ art.codigo }}</td>
      <td>{{ art.descrip }}</td>
      <td>${{ art.precio }}</td>
      <td><button (click)="borrar(i)">Borrar</button></td>
      <td><button (click)="seleccionar(art, i)">Modificar</button></td>
    </tr>
  </table>
  <ng-template #noArt>
    <h3>No hay articulos</h3>
  </ng-template>
</div>